<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    
    <display-name>PersonalProfileWebApp</display-name>
    
    <!-- ========== SERVLET DECLARATIONS ========== -->

    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>com.profileapp.ProfileServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>ViewProfileServlet</servlet-name>
        <servlet-class>com.profileapp.ViewProfileServlet</servlet-class>
    </servlet>
    
     <servlet>
    <servlet-name>EditDeleteServlet</servlet-name>
    <servlet-class>com.profileapp.EditDeleteServlet</servlet-class>
    </servlet>
    
    
    <!-- ========== SERVLET MAPPINGS ========== -->
    
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ViewProfileServlet</servlet-name>
        <url-pattern>/ViewProfileServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
    <servlet-name>EditDeleteServlet</servlet-name>
    <url-pattern>/EditDeleteServlet</url-pattern>
    </servlet-mapping>
    
    <!-- ========== WELCOME FILES ========== -->
    
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <!-- ========== SESSION CONFIGURATION ========== -->
    
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    
</web-app>